body { 
    background-image: url("screamBone2b.jpg");
    background-size: cover;
    font-family: "Tektur", sans-serif;
    text-align: center;
    height: 100vh;
}

/*.container {
    max-width: 800px ;
}*/

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color:#0e1e30;
    font-weight: bold;
    background-color: rgb(209 233 207/50%);
    max-width: 80%;
    margin: 10px auto 10px;
    border: 3px solid black;
    border-radius: 10px;
}

h2 {
    
    font-size: 50px;
    color:#0e1e30;
    margin: 20px auto 10px;
    background-color: rgb(209 233 207/50%);
    width: 100px;
    border: 3px solid black;
    border-radius: 10px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: "Tektur", sans-serif;
    text-shadow: 2px 2px black;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px black;
    opacity: 0.7;
}

#btn-container {
    margin: 150px auto 10px;
}

#increment-btn {
    background: #0e1e30;
    margin: 10px;
}

#save-btn {
    background: #4d838b;
    margin: 10px;
}

#reset-btn {
    background: #f86624;
    margin: 10px;
}

p {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0e1e30;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(209 233 207/50%);
    width: 200px;
    min-height: 75px;
    margin:auto;
    border: 3px solid black;
    border-radius: 10px;
    
    
}
